# Dependencies
node_modules/
client/node_modules/

# Environment Variables
.env
.env.local

# Production Build
client/dist/

# SQLite Databases & Uploads
server/*.db
server/*.db-shm
server/*.db-wal
server/uploads/*

# Logs
*.log
